@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --color--dark-blue: #084154;
    --color--blue: #3EC6E0;
    --color--silver: #EBEBEB;
    --color--background: #e5e5e5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    background-color: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    width: 100%;
}
